<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cursos FIC - IFRN Campus Canguaretama</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>

  <!-- Navigation -->
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Cursos FICs</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cursos.html">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cadastro.html"><i class="fa fa-floppy-o"></i> Cadastro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> Perfil
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="perfil_dados.html">Meus Dados</a>
              <a class="dropdown-item" href="perfil_inscricoes.html">Inscrições</a>
              <a class="dropdown-item" href="perfil_cursos.html">Cursos</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html"><i class="fa fa-sign-in"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="fa fa-sign-out"></i> Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Cursos
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Cursos</li>
    </ol>

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <div class="row">
          <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
              <a href="curso_detalhes.html"><img class="card-img-top" src="img/curso_no_img.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="curso_detalhes.html">Curso 1</a>
                </h4>
                <p class="card-text">Descrição.</p>
              </div>
            </div>
          </div>

           <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
              <a href="curso_detalhes.html"><img class="card-img-top" src="img/curso_no_img.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="curso_detalhes.html">Curso 2</a>
                </h4>
                <p class="card-text">Descrição.</p>
              </div>
            </div>
          </div>

           <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
              <a href="curso_detalhes.html"><img class="card-img-top" src="img/curso_no_img.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="curso_detalhes.html">Curso 3</a>
                </h4>
                <p class="card-text">Descrição.</p>
              </div>
            </div>
          </div>

           <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
              <a href="curso_detalhes.html"><img class="card-img-top" src="img/curso_no_img.jpg" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="curso_detalhes.html">Curso 4</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
              </div>
            </div>
          </div>


        <!-- Pagination 
          <div class="col-12 portfolio-item">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </div>-->
        </div>



        

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
 <!-- Categories Widget -->
       
        <div class="card mb-4">
          <h5 class="card-header">Filtros</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                
                <p>Palavra-chave:</p>
              <div class="input-group">
              <input type="text" class="form-control" >
              </div>

            <br />

            <p>Área:<br />
              <p>
                <input type="radio" name="" value=""> Opção 1<br />
                <input type="radio" name="" value=""> Opção 2<br />
                <input type="radio" name="" value=""> Opção 3<br />
              </p>

              <br />

              <p>Público:</p>
            
              <p>
                <input type="radio" name=""> Opção 1<br />
                <input type="radio" name=""> Opção 2<br />
                <input type="radio" name=""> Opção 3<br />
              </p>

                <br />
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Filtrar</button>
              </span>

              </div>  
            </div>
          </div>
        </div>


      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Contact form JavaScript -->
  <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>
