<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cursos FIC - IFRN Campus Canguaretama</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>

  <!-- Navigation -->
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Cursos FICs</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cursos.html">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cadastro.html"><i class="fa fa-floppy-o"></i> Cadastro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> Perfil
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="perfil_dados.html">Meus Dados</a>
              <a class="dropdown-item" href="perfil_inscricoes.html">Inscrições</a>
              <a class="dropdown-item" href="perfil_cursos.html">Cursos</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html"><i class="fa fa-sign-in"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="fa fa-sign-out"></i> Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Curso
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="cursos.html">Cursos</a></li>
      <li class="breadcrumb-item active">Curso</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <a href="#"><img class="card-img-top img-fluid rounded" src="img/curso_no_img.jpg" alt=""></a>

        <hr/>
          <h2>Título do Curso</h2>
        <hr/>
          <p>Instrutores: Nome 1, Nome 2...</p>
        <hr/>
          <p>Descrição...</p>
        <hr/>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <!-- Search Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Inscrição</h5>
          <div class="card-body">
            <div class="input-group">
              <span class="input-group-btn">
                <a href="login.html"><button class="btn btn-secondary" type="button">Login</button></a>
                <a href="admin_inscricoes.html"><button class="btn btn-secondary" type="button">Realizar Inscrição</button></a>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Detalhes</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p><strong>Data de Início:</strong> 23/03/2019</p>
                <p><strong>Data de Fim:</strong> 30/06/2019</p>
                <p><strong>Carga Horária:</strong> 80 Horas</p>
                <p><strong>Vagas:</strong> 20</p>
                <p><strong>Inscritos:</strong> 15</p>
                <p><strong>Área:</strong> Informática</p>
                <p><strong>Públicos:</strong></p>
                <ul>
                  <li>Discentes</li>
                  <li>Externo</li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Pré-requisitos</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p>....</p>
              </div>
              
            </div>
          </div>
        </div>

        
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cursos FICs - IFRN Cang 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>
