<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cursos FIC - IFRN Campus Canguaretama</title>

  <!-- Bootstrap core CSS -->
  <link href="src/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="src/css/modern-business.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <style type="text/css">

.carousel-item{
    height: 200px;
} 


</style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Cursos FICs</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cursos.html">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cadastro.html"><i class="fa fa-floppy-o"></i> Cadastro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> Perfil
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="perfil_dados.html">Meus Dados</a>
              <a class="dropdown-item" href="perfil_inscricoes.html">Inscrições</a>
              <a class="dropdown-item" href="perfil_cursos.html">Cursos</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html"><i class="fa fa-sign-in"></i> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="fa fa-sign-out"></i> Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<!--
  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="carousel-item active" style="background-image: url('img/banner_01_.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>DESTAQUE 1</h3>
            <p>Curso 1</p>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url('img/banner_02_.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>DESTAQUE 2</h3>
            <p>Curso 2</p>
          </div>
        </div>

        <div class="carousel-item" style="background-image: url('img/banner_03_.jpg')">
          <div class="carousel-caption d-none d-md-block">
            <h3>DESTAQUE 3</h3>
            <p>Curso 3</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>-->

  <!-- Page Content -->
  <div class="container">

  <br />

  <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <h2>IFRN - Campus Canguaretama</h2>
        <p class="text-justify">O Instituto está localizado na cidade de Canguaretama-RN, na microrregião do Litoral Sul do estado, mesorregião do Leste Potiguar, e tem foco de atuação estabelecido nas áreas de Eletromecânica, Turismo e Informática.</p>
        <p class="text-justify">A Coordenação de <strong>Cursos FIC</strong> do Campus Canguaretama foi criada em 21 de maio de 2015 através da portaria nº 056/2015–DG/CANG, e desde então mais de 30 cursos foram oferecidos ao público interno e externo ao Instituto.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="src/img/campus_.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->


<br /><br />

    <!-- Portfolio Section -->
    <h2>Últimos Cursos</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="curso_detalhes.html"><img class="card-img-top" src="src/img/curso_no_img.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="curso_detalhes.html">Curso 1</a>
            </h4>
            <p class="card-text">Resumo 1</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="curso_detalhes.html"><img class="card-img-top" src="src/img/curso_no_img.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="curso_detalhes.html">Curso 2</a>
            </h4>
            <p class="card-text">Resumo 2</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="curso_detalhes.html"><img class="card-img-top" src="src/img/curso_no_img.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="curso_detalhes.html">Curso 3</a>
            </h4>
            <p class="card-text">Resumo 3</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="curso_detalhes.html"><img class="card-img-top" src="src/img/curso_no_img.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="curso_detalhes.html">Curso 4</a>
            </h4>
            <p class="card-text">Resumo 4</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="curso_detalhes.html"><img class="card-img-top" src="src/img/curso_no_img.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="curso_detalhes.html">Curso 5</a>
            </h4>
            <p class="card-text">Resumo 5</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="curso_detalhes.html"><img class="card-img-top" src="src/img/curso_no_img.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="curso_detalhes.html">Curso 6</a>
            </h4>
            <p class="card-text">Resumo 6</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  

   

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Cursos FICs - IFRN Cang 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="src/js/jquery.min.js"></script>
  <script src="src/js/bootstrap.bundle.min.js"></script>

</body>

</html>
