<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cursos FIC - IFRN Campus Canguaretama</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
       <div class="col-12">

          <h3>Título do Curso</h3>
          <p>Período: 02/03/2018 a 30/07/2018</p>

            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Aluno</th>
                  <th scope="col">CPF</th>
                  <th scope="col">E-mail</th>
                  <th scope="col">Assinatura</th>
                </tr>
              </thead>
                <tr>
                  <th scope="row">Nome do Aluno</th>
                  <td>000.000.000-00</td>
                  <td>email@email.com</td>
                  <td></td>
                </tr>
                <tr>
                 <th scope="row">Nome do Aluno</th>
                  <td>000.000.000-00</td>
                  <td>email@email.com</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Nome do Aluno</th>
                  <td>000.000.000-00</td>
                  <td>email@email.com</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Nome do Aluno</th>
                  <td>000.000.000-00</td>
                  <td>email@email.com</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Nome do Aluno</th>
                  <td>000.000.000-00</td>
                  <td>email@email.com</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">Nome do Aluno</th>
                  <td>000.000.000-00</td>
                  <td>email@email.com</td>
                  <td></td>
                </tr>
              </tbody>
            </table>




      </div>
    </div>

  </div>
  <!-- /.container -->


  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>
